body, html{
    margin:0;
    padding:0;
}
body{
    /* background-image: url(img/dia.jpg); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;


}


header h1{
    text-align: center;
    font: Bolder 30px Century Gothic;
    color: white;
    margin-top: 150px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);

}

section{
    background: white;
    width: 10%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 90px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.212);
    
}

.miolo{
    padding: 10px;
    text-align: center;
    font-size: 18px Century Gothic;
    
}

footer{
    text-align: center;
    color: white;
    font: bold 12px;
}



